{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'chat/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/all.min.css' %}">

    <!-- Vue JS -->
    <script src="{% static 'chat/js/vue.js' %}"></script>
    <script src="{% static 'chat/js/axios.min.js' %}"></script>
    <script src="{% static 'chat/js/js.cookie.min.js' %}"></script>
</head>
<body>
    <div class="container" id="app">
        {% include './navbar.html' %}
        {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'chat/js/app.js' %}"></script>
</body>
</html>
